In [1]:
import numpy as np #numpy gives me math functions! huzzah!
import pandas as pd

In [2]:
i = 6
f= 6.0
s = '6.0'

In [3]:
type (i)

int

In [4]:
np.mean([i, f])

6.0

In [5]:
df = pd.read_csv('data.csv')

In [6]:
df

,NAME,PER,RA,DEC,STAR,MSTAR,TEFF,DIST
0,Kepler-107 d,7.958203,19.801881,48.208611,Kepler-107,NaN,5851.00,NaN
1,Kepler-1049 b,3.273461,19.156450,47.772944,Kepler-1049,0.5100,3864.00,129.0000
2,Kepler-813 b,19.129473,19.044181,48.435361,Kepler-813,0.9500,5743.00,840.0000
3,Kepler-427 b,10.290994,19.216972,43.704861,Kepler-427,0.9600,5800.00,1100.0000
4,Kepler-1056 b,27.495606,19.968400,46.899250,Kepler-1056,1.1200,6127.00,971.0000
5,Kepler-1165 b,9.478522,19.131417,44.708306,Kepler-1165,1.1300,6080.00,1081.0000
6,Kepler-1104 b,5.037280,19.631236,49.331028,Kepler-1104,1.3000,6417.00,516.0000
7,WASP-14 b,2.243752,14.551765,21.894694,WASP-14,1.3100,6475.00,160.0000
8,Kepler-50 b,7.812512,19.206727,50.033722,Kepler-50,1.2300,6058.00,NaN
9,NN Ser d,2605.000000,15.882259,12.912389,NN Ser,NaN,NaN,NaN
10,Kepler-1279 b,23.477410,19.206375,40.365972,Kepler-1279,1.2100,6221.00,1017.0000
11,Kepler-1599 b,122.363553,19.081392,41.151250,Kepler-1599,0.9900,5767.00,1004.0000
12,Kepler-20 b,3.696122,19.179868,42.338694,Kepler-20,0.9120,5466.00,290.0000
13,HAT-P-27 b,3.039577,14.851164,5.947361,HAT-P-27,0.9200,5190.00,204.0000
14,Kepler-181 b,3.137873,19.743431,50.095811,Kepler-181,NaN,5333.00,NaN
15,HD 116029 b,670.000000,13.344319,24.648825,HD 116029,1.3300,4811.00,123.1980
16,Kepler-207 b,1.611865,19.335369,42.166050,Kepler-207,NaN,5920.00,NaN
17,Kepler-1156 b,11.895205,19.261603,46.057639,Kepler-1156,1.0000,5778.00,759.0000
18,Kepler-1512 b,20.359726,19.284967,44.470250,Kepler-1512,0.7300,4372.00,162.0000
19,Kepler-787 b,0.928310,19.446164,38.572917,Kepler-787,0.6500,4248.00,468.0000
20,Kepler-528 b,19.782974,19.712322,47.748083,Kepler-528,1.0100,5807.00,711.0000
21,HD 219828 b,3.833500,23.312983,18.645714,HD 219828,1.2400,5891.00,72.3066
22,Kepler-480 b,4.919584,19.630928,49.765056,Kepler-480,1.2500,6322.00,806.0000
23,Kepler-1567 b,153.979578,19.113014,40.291806,Kepler-1567,0.9500,5655.00,1226.0000
24,Kepler-1390 b,6.480217,19.910822,48.248778,Kepler-1390,0.9800,5753.00,760.0000
25,Kepler-1642 b,12.205751,19.814144,43.643722,Kepler-1642,0.8800,5355.00,447.0000
26,Kepler-11 c,13.024100,19.807673,41.909111,Kepler-11,0.9610,5663.00,NaN
27,Kepler-871 b,22.045902,19.635142,43.368167,Kepler-871,1.1100,5993.00,1695.0000
28,Kepler-1131 b,3.532324,19.710100,49.261306,Kepler-1131,1.0300,5851.00,1109.0000
29,Kepler-705 b,56.056054,19.300567,41.812111,Kepler-705,0.5300,3722.00,251.0000
...,...,...,...,...,...,...,...,...
2920,Kepler-33 b,5.667930,19.271837,46.005194,Kepler-33,1.2910,5904.00,NaN
2921,Kepler-1437 b,10.929546,19.457661,49.325917,Kepler-1437,0.9300,5557.00,1182.0000
2922,Kepler-391 b,7.416755,19.374789,51.057300,Kepler-391,NaN,4940.00,NaN
2923,Kepler-618 b,3.595770,19.083322,48.060944,Kepler-618,1.0500,5860.00,1115.0000
2924,Kepler-55 e,4.617534,19.011219,44.026461,Kepler-55,NaN,4503.00,NaN
2925,Kepler-34 b,288.822000,19.762388,44.641556,Kepler-34,1.0479,NaN,NaN
2926,Kepler-255 d,1.045623,19.737617,45.976833,Kepler-255,0.9700,5573.00,0.0000
2927,Kepler-1085 b,219.321753,19.165178,46.141194,Kepler-1085,1.1100,6000.00,1518.0000
2928,Kepler-383 b,12.904532,19.422839,38.363131,Kepler-383,NaN,4710.00,NaN
2929,Kepler-444 f,9.740486,19.316797,41.636139,Kepler-444,0.7580,5046.00,35.7000
2930,HD 171028 b,550.000000,18.537637,6.945750,HD 171028,1.0100,5671.00,109.8900
2931,Kepler-336 b,2.024823,19.349181,41.331381,Kepler-336,NaN,5867.00,NaN
2932,WASP-1 b,2.519945,0.344466,31.989917,WASP-1,1.2000,6110.00,408.1630
2933,XO-5 b,4.187754,7.781100,39.094556,XO-5,1.0000,5510.00,270.2700
2934,HAT-P-3 b,2.899703,13.739606,48.028667,HAT-P-3,0.9280,5185.00,138.6960
2935,Kepler-1175 b,37.945630,19.276181,46.812889,Kepler-1175,0.9000,5453.00,1244.0000
2936,Kepler-1421 b,6.913111,19.105372,48.544194,Kepler-1421,1.2500,6335.00,675.0000
2937,Kepler-1626 b,4.139630,19.766697,40.721222,Kepler-1626,1.5100,6826.00,1718.0000
2938,Kepler-252 c,10.848463,19.705289,44.545961,Kepler-252,NaN,4208.00,NaN
2939,Kepler-718 b,2.052350,19.970792,43.503556,Kepler-718,1.1800,6191.00,1520.0000
2940,Kepler-247 b,3.336160,19.242831,43.039289,Kepler-247,NaN,5100.00,NaN
2941,Kepler-251 e,99.640161,19.771081,44.105861,Kepler-251,NaN,5526.00,NaN
2942,Kepler-1583 b,9.328074,19.092461,47.016639,Kepler-1583,0.9400,5645.00,357.0000
2943,Kepler-282 b,9.220524,18.978489,44.797681,Kepler-282,NaN,5602.00,NaN
2944,Kepler-354 c,16.934402,19.050100,41.335639,Kepler-354,NaN,4648.00,NaN
2945,Kepler-1529 b,5.339057,19.324714,41.040722,Kepler-1529,0.8100,5048.00,683.0000
2946,Kepler-1446 b,0.689968,19.294931,46.726167,Kepler-1446,0.8100,4865.00,162.0000
2947,upsilon And d,1278.121800,1.613328,41.406386,upsilon And,1.3100,6212.65,13.4916
2948,Kepler-1098 b,2.543073,19.700181,43.232806,Kepler-1098,0.9900,5794.00,876.0000
2949,Kepler-102 b,5.286960,18.765500,47.207778,Kepler-102,0.8000,4903.00,NaN

In [7]:
df.columns

Index(['NAME', 'PER', 'RA', 'DEC', 'STAR', 'MSTAR', 'TEFF', 'DIST'], dtype='object')

In [8]:
df.dtypes

NAME      object
PER      float64
RA       float64
DEC      float64
STAR      object
MSTAR    float64
TEFF     float64
DIST     float64
dtype: object

In [9]:
df.['TEFF']

SyntaxError: invalid syntax (<ipython-input-9-9fe019cde4f7>, line 1)

In [ ]:
df['TEFF']

In [ ]:
df['MSTAR']

In [ ]:
df.columns[0]

In [ ]:
df.dtypes

In [ ]:
np.mean['PER', 'RA', 'DEC', 'MSTAR', 'TEFF', 'DIST']

In [ ]:
np.mean(['PER', 'RA', 'DEC', 'MSTAR', 'TEFF', 'DIST'])

In [ ]:
df['DEC']

In [ ]:
np.mean(['DEC'])

In [ ]:
RA = df['RA']

In [ ]:
np.mean([RA])

In [ ]:
PER = df['PER']

In [ ]:
DEC = df['DEC']

In [ ]:
MSTAR = df['MSTAR']

In [ ]:
TEFF = df['TEFF']

In [ ]:
DIST = df['DIST']

In [ ]:
np.mean([PER, RA, DEC, MSTAR, TEFF, DIST])

In [ ]:
df.columns

In [ ]:
pd.df.sort_values('TEFF')

In [ ]:
pd.DataFrame.sort_values('TEFF')

In [ ]:
df.sort_values('TEFF', ascending = False)

In [ ]:
food = [fishsticks, breaded_cod, tilapia]

In [ ]:
a = [2,4,6]

In [ ]:
a[0]

In [ ]:
food = ['fishsticks', 'breaded cod', 'rainbow tilapia']

In [ ]:
food[5]

In [ ]:
food[2]

In [ ]:
index = -2

In [ ]:
mass_index = df['MSTAR'] <= 0.6

In [ ]:
mass_values = df['MSTAR']

In [ ]:
mass_values[mass_index]

In [ ]:
df['TEFF'].loc[mass_index] #locates the values in TEFF that falls under the category of mass_index

In [ ]:
new_df = df.df

In [ ]:
df.sort_values(df['TEFF'].loc[mass_index])

In [ ]:
newMstarColumn = df['MSTAR'].loc[mass_index]

In [ ]:
print newMstarColumn

In [ ]:
df.loc[mass_index]